# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/

# Build products
*.ipa
*.dSYM.zip
*.dSYM
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
